.input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  
  .error {
    border: 1px solid red;
  }

  .label {
    display: block;
  }

  .required {
    color: red
  }
  