.content {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
    position: relative;
}

.rating {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.item span, .item div{
        font-weight: 600;
        
}



.img {
    max-width: 33.3%;
}

.actors {
    display: flex;
    gap: 24px;

    .actor {
        border-radius: 4px;
    }

    img {
        object-fit: cover;
        max-width: 160px;
        height: 228px;
        width: 100%;
    }
}