/* Pagination.module.css */
.pagination {
    display: flex;
    align-items: center;
  }
  
  .button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pageNumber {
    padding: 10px 20px;
  }
  